.haikei {
  background-image: url("image/keyboad.png");
  background-repeat: no-repeat;
  background-size: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: relative;
}
.haikei1 {
  background-image: url("image/keyboad1.png");
  background-repeat: no-repeat;
  background-size: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-position: center;
  position: relative;
}

.all {
  position: relative;
}

button {
  position: absolute;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

header img {
  height: 50px;
}

.score-board {
  font-size: 2em;
}

.timer-board {
  font-size: 2em;
}

/* 各ボタンの位置を設定 */
.button1 {
  left: -350px;
  bottom: 80px;
}

/* ここに他のボタンの位置を設定 */
.button2 {
  left: -225px;
  bottom: 80px;
}

.button3 {
  left: -105px;
  bottom: 80px;
}

.button4 {
  left: 20px;
  bottom: 80px;
}

.button5 {
  left: 143px;
  bottom: 80px;
}

.buttonq {
  left: -329px;
  bottom: -40px;
}

.buttonw {
  left: -205px;
  bottom: -40px;
}

.buttone {
  left: -82px;
  bottom: -40px;
}

.buttonr {
  left: 43px;
  bottom: -40px;
}

.buttont {
  left: 165px;
  bottom: -40px;
}

.buttony {
  left: 290px;
  bottom: -40px;
}

.buttona {
  left: -270px;
  bottom: -160px;
}

.buttons {
  left: -150px;
  bottom: -160px;
}

.buttond {
  left: -24px;
  bottom: -160px;
}

.buttonf {
  right: -205px;
  bottom: -160px;
}

.buttong {
  right: -330px;
  bottom: -160px;
}

.space1 {
  left: -330px;
  bottom: -280px;
}

.space2 {
  left: -60px;
  bottom: -280px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.space3{
  position: absolute;
  top: 175px;
  left: -340px;
 
}
.space3 img{
  width: 165%;
  height: 165%;
}
